# SPDX-FileCopyrightText: 2022 GroupeSNCF 
#
# SPDX-License-Identifier: Apache-2.0

click
importlib-resources
ipywidgets
numpy
pandas
plotly
pyarrow
scikit-learn
shap
colorlog
beautifulsoup4
tensorflow
matplotlib
opencv-python
imutils


